* {
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
}

h1 {
    display: inline-block;
}

.header {
    background-color: grey;
    color: grey;
    position: fixed;
    width: 100%;
}
.header div {
    float: right;
    margin-right: 25px;
    font-size: 25px;
}

figure {
    margin-top: 50px;
    display: block;
    position: relative;
    top: 150px;
    color: white;
}

.labels {
background-color: grey;
color: white;
position: relative;
top: 200px;

}

.label_element {
padding: 10px;
display: block;
}

button {
    color: white;
    border: solid;
    border-color: gold;
}

footer {
    color: blueviolet;
}

